.containerWhole {
	height: 72vh;
}

.containerLogin {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	max-width: 500px;
    margin: 0 auto;
}

.titleLogin {
	text-align: center;
}

.formLogin {
	max-width: 350px;
}

.formGridLogin {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.formItemLogin {
	margin-bottom: 10px;
}