.shopTitle {
	margin-top: 100px;
	text-align: center;
	font-size: 40px;
}

.products {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
}

.product {
	position:relative;
	border-radius: 15px;
	width: 60%;
	height: 350px;
	margin: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.description {
	text-align: center;
}

.product img {
	position: relative;
	left: 0;
	top: 0;
	width: 200px;
}

.title {
	max-width: 400px;
}

.product:hover {
	transition: 0.3s ease-in;
	cursor: pointer;
}

.addToCartButton {
	background-color: transparent;
	border: 2px solid black;
	min-width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
}

.addToWishlistButton {
	background-color: transparent;
	border: 2px solid black;
	min-width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
}

.addToCartButton:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.addToWishlistButton:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.addToWishlistButton.active {
	color: black;
	background-color: red;
}

.filterButtons {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.filterButtons button {
	margin: 0 5px;
}

.product.outOfStock {
	opacity: 1;
}

.product .outOfStockImage {
	filter: brightness(40%);
}