.shopTitle {
	margin-top: 100px;
	text-align: center;
	font-size: 40px;
}

.products {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
}

.product {
	border-radius: 15px;
	width: 60%;
	height: 350px;
	margin: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.description {
	text-align: center;
}

.image {
	width: 400px;
}

.title {
	max-width: 400px;
}

.product:hover {
	transition: 0.3s ease-in;
	cursor: pointer;
}

.addToCartButton {
	background-color: transparent;
	border: 2px solid black;
	min-width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
}

.addToCartButton:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}
