.containerCheckout {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	max-width: 500px;
    margin: 0 auto;
	height: 350px;
	margin-bottom: 15px;
	border-radius: 25px;
}

.title {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
	max-width: 350px;
}

.formGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.formItem {
	margin-bottom: 10px;
}
