.footer {
	width: 100%;
	height: 80px;
	background-color: lightblue;
	display: flex;
	align-items: center;
}

.linksFooter {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.linksLeft {
	display: flex;
	align-items: center;
}

.linksRight {
	display: flex;
	align-items: center;
}

.linksFooter a {
	text-decoration: none;
	color: darkblue;
	margin-left: 20px;
	font-size: 25px;
}
